@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400;600;700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: "poppins", sans-serif;
    flex-direction: row;
    margin: 5px;
    background: #c9d6ff linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.container {
    width: 98%;
    height: 98vh;
    background-color: #17202a;
    border-radius: 10px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.card-header {
    background-color: #212f3d;
    border-radius: 10px 10px 0 0;
    padding: 1rem;
    color: #fff;
    width: 100%;
}

.card {
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #2c3e50;
    border-radius: 5px;
}

.card-body {
    height:  calc(98vh - 140px);
    padding: 0.8rem;
    font-size: 1rem;
    overflow-y: auto;
    flex-grow: 1;
}

.card-body .chat-bot {
    display: flex;
    align-items: center;
}

.card-body .user {
    display: flex;
    align-items: center;
    justify-content: end;
}

.card-body .chat-bot p {
    background-color: #6fc5ff;
    border-radius: 10px;
    padding: 0.8rem;
    width: 50%;
    white-space: pre-wrap;
}

.card-body .user p {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 0.8rem;
    width: 50%;
    white-space: pre-wrap;
}

.chat-bot,
.user {
    margin: 1rem 0;
}

.chat .user-icon {
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-right: 0.5rem;
    border: 2px solid #212f3d;

}

.user-icon .fa-robot {
    color: #6fc5ff;
}


.user-icon .fa-user {
    color: #f7f7f7;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

.card-footer textarea {
    resize: none;
    border: none;
    outline: none;
    font-family: inherit;
    width: 100%;
    padding: 1.5rem;
    background-color: #212f3d;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
}

.sending-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 0;
    margin: 15px;
    right: 0;
}

.sending-icon .fa-paper-plane {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
